@charset "UTF-8";

$breakpoints: (
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1440px,
  "xxl": 1920px,
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  }
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/WEB/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@mixin font-satoshi {
  font-family: "Satoshi", sans-serif;
}

@mixin font-inter {
  font-family: "Inter", sans-serif;
}

$colors: (
  black: #080807,
  white: #ffffff,
  warm-gray: #d1d1c7,
  gray: #eaeaea,
);

@function color($name) {
  @return map-get($colors, $name);
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
a,
dl,
dt,
dd,
table,
tr,
th,
td,
span,
address {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  line-height: 1;
  outline: none;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}

input,
select,
textarea {
  background-color: unset;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
}

div,
header,
footer,
section,
article,
figure,
picture {
  box-sizing: border-box;
  margin: 0;
  display: block;
  padding: 0;
}

button {
  cursor: pointer;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  @include font-inter();
  font-weight: 400;
  background-color: #080807;
  color: #d1d1c7;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.2;
    pointer-events: none;
    z-index: 10;
  }
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  visibility: hidden;
}

.l-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 180px;
  padding-left: clamp(16px, calc(2.27px + 3.661vw), 96px);
  padding-right: clamp(16px, calc(2.27px + 3.661vw), 96px);
}

.text-wrapper {
  display: inline-block;
  overflow: hidden;
}

.br-sp {
  display: block;

  @include respond-to("lg") {
    display: none;
  }
}

.br-pc {
  display: none;

  @include respond-to("lg") {
    display: block;
  }
}

.c-heading {
  font-size: clamp(3rem, 2.2277rem + 3.2952vw, 7.5rem);
  line-height: 1;
  font-weight: 500;
  @include font-satoshi;
  color: #d1d1c7;
  text-transform: capitalize;

  &--black {
    color: #080807;
  }
}

.c-lead {
  font-size: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
  line-height: 1;
  font-weight: 500;
  @include font-satoshi;
  color: #ffffff;
  text-transform: uppercase;

  &--black {
    color: #080807;
  }
}

.c-text {
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
  line-height: 1.5;
  font-weight: 400;
  @include font-inter();
  color: #d1d1c7;

  &--black {
    color: #080807;
  }

  &--sm {
    font-size: clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem);
  }
}

.c-cta-button {
  display: flex;
  background-color: #080807;
  color: #d1d1c7;
  padding: 8px 24px;
  border-radius: 40px;
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
  @include font-inter();
  font-weight: 500;

  @include respond-to("lg") {
    padding: 12px 36px;

    &:hover .c-cta-button__wrapper {
      transform: translateY(-100%);
    }

    &:hover .c-cta-button__wrapper--hover {
      transform: translateY(-100%);
    }
  }

  .text-wrapper {
    position: relative;
  }

  &__wrapper {
    display: flex;
    gap: 8px;
    transform: translateY(0);
    transition: transform 0.3s ease-out;

    &--hover {
      position: absolute;
      top: 100%;
      left: 0;
      transform: translateY(0);
    }
  }
}

//footer

.footer {
  width: 100%;
  height: auto;

  @include respond-to("lg") {
    height: 100vh;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    padding-top: 32px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  .footer-top {
    margin-bottom: 120px;
    position: relative;

    @include respond-to("lg") {
      margin-bottom: 0;
    }

    .footer-top-bar {
      display: flex;
      justify-content: space-between;
      margin-bottom: calc(160 / 16 * 1rem);

      @include respond-to("lg") {
        margin-bottom: calc(80 / 16 * 1rem);
      }

      &__mail--sp {
        display: block;

        @include respond-to("lg") {
          display: none;
        }
      }

      &__mail--pc {
        display: none;

        @include respond-to("lg") {
          display: flex;
          align-items: center;
          gap: 24px;
        }
      }
    }

    .footer-sign {
      width: 80px;
      margin-left: auto;
      margin-top: calc(64 / 16 * 1rem);

      img {
        width: 100%;
        height: auto;
        display: block;
      }

      @include respond-to("lg") {
        width: 88px;
        position: absolute;
        top: 152px;
        right: 0;
        margin-top: 0;
      }
    }
  }

  &__title {
    margin-bottom: 1rem;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;

    @include respond-to("lg") {
      margin-top: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__image {
    width: calc(50% - 20px);

    @include respond-to("lg") {
      width: calc(256 / 1440 * 100vw);
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;

    .footer__links-wrapper {
      margin-top: auto;
    }
  }

  &__nav {
    display: flex;
    margin-bottom: calc(48 / 16 * 1rem);

    @include respond-to("lg") {
      gap: 218px;
      margin-bottom: calc(40 / 16 * 1rem);
    }

    .footer-list {
      width: 50%;

      @include respond-to("lg") {
        width: auto;
      }
      &__tag {
        display: inline-block;
        color: #636363;
        margin-bottom: 8px;
      }

      &__link {
        display: flex;
        width: fit-content;

        .text-wrapper {
          position: relative;
        }
      }

      &__text {
        &--default {
          display: inline-block;
        }

        &--hover {
          position: absolute;
          top: 100%;
          left: 0;
          display: inline-block;
        }
      }
    }
  }

  .footer-meta {
    display: flex;
    margin-bottom: calc(80 / 16 * 1rem);

    @include respond-to("lg") {
      margin-bottom: 0;
    }

    &__item {
      width: 50%;

      @include respond-to("lg") {
        width: auto;
      }
    }

    @include respond-to("lg") {
      gap: 218px;
    }

    &__text {
      font-size: 14px;
    }
  }
}
