@charset "UTF-8";

$breakpoints: (
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1440px,
  "xxl": 1920px,
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  }
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/WEB/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@mixin font-satoshi {
  font-family: "Satoshi", sans-serif;
}

@mixin font-inter {
  font-family: "Inter", sans-serif;
}

$colors: (
  black: #080807,
  white: #ffffff,
  warm-gray: #d1d1c7,
  gray: #eaeaea,
);

@function color($name) {
  @return map-get($colors, $name);
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
a,
dl,
dt,
dd,
table,
tr,
th,
td,
span,
address {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  line-height: 1;
  outline: none;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}

input,
select,
textarea {
  background-color: unset;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
}

div,
header,
footer,
section,
article,
figure,
picture {
  box-sizing: border-box;
  margin: 0;
  display: block;
  padding: 0;
}

button {
  cursor: pointer;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  @include font-inter();
  font-weight: 400;
  background-color: #080807;
  color: #d1d1c7;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.2;
    pointer-events: none;
    z-index: 10;
  }
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  visibility: hidden;
}

.l-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: clamp(20px, calc(6.957px + 3.478vw), 96px);
  padding-right: clamp(20px, calc(6.957px + 3.478vw), 96px);

  @include respond-to("lg") {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}

.text-wrapper {
  display: inline-block;
  overflow: hidden;
}

.br-sp {
  display: block;

  @include respond-to("lg") {
    display: none;
  }
}

.br-pc {
  display: none;

  @include respond-to("lg") {
    display: block;
  }
}

.is-sp {
  display: block;
  @include respond-to("lg") {
    display: none;
  }
}

.is-pc {
  display: none;
  @include respond-to("lg") {
    display: block;
  }
}

.c-heading {
  font-size: clamp(3rem, 2.2718rem + 3.1068vw, 6rem);
  line-height: 1;
  font-weight: 500;
  @include font-satoshi;
  color: #d1d1c7;

  &--black {
    color: #080807;
  }
}

.c-lead {
  font-size: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
  line-height: 1;
  font-weight: 500;
  @include font-satoshi;
  color: #ffffff;
  text-transform: uppercase;

  &--black {
    color: #080807;
  }
}

.c-text {
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
  line-height: 1.5;
  font-weight: 400;
  @include font-inter();
  color: #d1d1c7;

  &--black {
    color: #080807;
  }

  &--sm {
    font-size: clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem);
  }
}

.c-char {
  display: inline-block;
}

.c-char--info {
  opacity: 0;
}

.c-char-body {
  display: inline-block;
}

.c-nameplate {
  &__wrapper {
    display: flex;
    gap: 24px;

    &--fv {
      opacity: 0;
    }

    &--nav {
      opacity: 0;
    }
  }
}

.c-datetime {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    &--fv {
      opacity: 0;
    }
  }

  .c-datetime-time {
    display: flex;
    align-items: center;

    &__ampm {
      margin-left: calc(4 / 16 * 1rem);
    }
  }

  .blink {
    animation: blink 1.5s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.c-email {
  &--sp {
    display: flex;
    gap: 0;
    @include respond-to("lg") {
      display: none;
    }
  }

  &--pc {
    display: none;
    @include respond-to("lg") {
      display: flex;
      gap: 24px;
    }
  }

  .text-wrapper {
    position: relative;
  }

  &__text {
    display: inline-block;

    &--hover {
      position: absolute;
      right: 0;
    }
  }
}

.c-badge {
  width: fit-content;
  margin-left: auto;
  background-color: #eaeaea;
  padding: 4px 40px;
  border-radius: 40px;
  opacity: 0;

  @include respond-to("lg") {
    position: static;
    padding: 6px 48px;
  }

  &__text {
    display: inline-block;
    font-size: clamp(0.625rem, 0.581rem + 0.1878vw, 0.75rem);
    line-height: 1.5;
    text-transform: capitalize;
    color: #080807;

    &--info {
      opacity: 0;
    }
  }
}

//menu button & nav menu
.c-menu-toggle {
  position: fixed;
  opacity: 0;
  z-index: 9999;
  top: 28px;
  right: 20px;

  @include respond-to("lg") {
    top: 32px;
    right: 40px;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .text-wrapper {
    position: relative;
  }

  &__text {
    text-transform: uppercase;
    display: inline-block;

    &--hover {
      position: absolute;
      left: 0;
    }
  }

  .circle {
    display: inline-block;
    line-height: 1.5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d1d1c7;
  }

  .text-wrapper {
    position: relative;
  }
}

.nav-menu {
  position: fixed;
  z-index: 9999;
  clip-path: inset(0 0 100% 0);
  top: 0;
  right: 0;
  width: 100%;
  height: 100svh;
  background-color: #eaeaea;

  .l-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 24px;
    padding-bottom: 24px;

    @include respond-to("lg") {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(48 / 16 * 1rem);

    @include respond-to("lg") {
      margin-bottom: calc(120 / 16 * 1rem);
    }

    .c-text {
      color: #080807;
    }
  }

  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 96px;

    @include respond-to("lg") {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
    }
  }

  &__foot {
    position: absolute;
    bottom: 64px;
    right: clamp(20px, calc(6.957px + 3.478vw), 96px);
  }

  &__social {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include respond-to("lg") {
      padding-right: 35px;
      justify-content: flex-end;
      gap: 32px;
    }
  }

  .nav-list {
    &--primary {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &--social {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &__tag {
      color: rgba($color: #080807, $alpha: 0.4);
    }

    &__item {
      width: fit-content;
      color: #080807;
    }

    &__link {
      width: fit-content;
      display: flex;

      .text-wrapper {
        position: relative;
      }

      @include respond-to("lg") {
        &:hover .nav-list__text--default {
          transform: translateY(-100%);
        }

        &:hover .nav-list__text--hover {
          transform: translateY(-100%);
        }
      }
    }

    &__text {
      display: inline-block;
      transition: transform 0.4s;

      &--default {
        transform: translateY(0%);
      }

      &--hover {
        position: absolute;
        top: 100%;
        right: 0;
        transform: translateY(0%);
      }
    }

    &__social-text {
      display: inline-block;

      &--hover {
        position: absolute;
        left: 0;
      }
    }
  }

  .nav-button {
    &__button {
      color: rgba($color: #080807, $alpha: 0.4);
      font-size: clamp(3rem, 2.2277rem + 3.2952vw, 7.5rem);
      line-height: 1;
      font-weight: 500;
      @include font-satoshi;
      opacity: 1;
      transition: opacity 0.2s;

      @include respond-to("lg") {
        &:hover {
          opacity: 0.4;
        }
      }
    }
  }
}

//Fv

.c-fv {
  width: 100%;
  height: 100svh;

  &__wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(72 / 16 * 1rem);

    @include respond-to("lg") {
      margin-bottom: calc(96 / 16 * 1rem);
    }
  }

  .c-fv-note {
    width: calc(161 / 375 * 100vw);
    max-width: 200px;
    margin-left: auto;

    @include respond-to("lg") {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      width: 100%;
      max-width: none;
    }

    &__image {
      @include respond-to("lg") {
        grid-column: 11 / 13;
        max-width: 300px;
        margin-left: auto;
      }
    }

    .l-image {
      clip-path: inset(100% 0 0 0);
      margin-bottom: calc(16 / 16 * 1rem);
      position: relative;

      .mask {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color: #080807, $alpha: 0.25);

        &--info {
          background-color: rgba($color: #080807, $alpha: 0.1);
        }
      }

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .text-wrapper {
      line-height: 1.3;
    }

    &__line {
      display: inline-block;
      opacity: 0;
    }

    &__text {
      font-size: clamp(0.625rem, 0.581rem + 0.1878vw, 0.75rem);
    }
  }

  &__foot {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: auto;

    @include respond-to("lg") {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__title {
    @include font-satoshi();
    color: #d1d1c7;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;

    &--top {
      font-size: clamp(6.75rem, 4.0469rem + 11.5332vw, 22.5rem);
      opacity: 0;
    }

    &--info {
      font-size: clamp(6.25rem, 3.4611rem + 11.8993vw, 22.5rem);
      opacity: 0;
    }
  }

  &__desc {
    font-size: clamp(0.625rem, 0.581rem + 0.1878vw, 0.75rem);

    @include respond-to("lg") {
      grid-column: 11 / 13;
      max-width: 300px;
    }
  }
}

//Cta
.c-cta {
  width: 100%;

  &__wrapper {
    padding-left: clamp(16px, calc(-1.849px + 4.76vw), 120px);
    padding-right: clamp(16px, calc(-1.849px + 4.76vw), 120px);
  }

  &__container {
    padding: clamp(180px, calc(0px + 12.5vw), 320px) 36px
      clamp(80px, calc(0.286px + 5.536vw), 142px);
    background-color: #eaeaea;
    position: relative;
    z-index: 1;
  }

  &__button {
    position: absolute;
    top: 16px;
    right: 16px;

    @include respond-to("lg") {
      top: 32px;
      right: 32px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 1rem;

    @include respond-to("xl") {
      font-size: clamp(6rem, 0.8571rem + 5.7143vw, 10rem);
    }
  }

  &__lead {
    text-align: center;
    margin-bottom: calc(40 / 16 * 1rem);

    &:last-child {
      margin-bottom: 0;
    }

    @include respond-to("lg") {
      margin-bottom: calc(48 / 16 * 1rem);
    }

    @include respond-to("xl") {
      font-size: clamp(1.5rem, 0.2143rem + 1.4286vw, 2.5rem);
      margin-bottom: clamp(48px, calc(-13.714px + 4.286vw), 96px);
    }
  }

  &__image {
    margin-bottom: calc(40 / 16 * 1rem);
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: calc(240 / 375 * 100vw);
    position: relative;

    @include respond-to("lg") {
      margin-bottom: calc(48 / 16 * 1rem);
      width: calc(320 / 1440 * 100vw);
    }

    &--bg {
      background-image: url("/img/p-info-cta.jpg");
      background-repeat: no-repeat;
      // background-position: center 20%;
      aspect-ratio: 3 / 2;
      width: calc(240 / 375 * 100vw);
      max-width: 360px;

      @include respond-to("lg") {
        background-image: url("/img/p-info-cta.jpg");
        width: calc(320 / 1440 * 100vw);
        max-width: 400px;
      }
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .c-cta-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 3 / 2;
    position: absolute;
    top: 0;
    background-color: #f3f3f3;
    width: calc(240 / 375 * 100vw);
    height: auto;
    max-width: 400px;
    box-shadow: 0 0 10px 4px rgba($color: #080807, $alpha: 0.25);
    transform-origin: top left;

    @include respond-to("lg") {
      width: calc(320 / 1440 * 100vw);
    }

    &__text {
      font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
      color: #080807;
      @include font-satoshi();
      font-weight: 500;
      text-transform: uppercase;
      line-height: 1;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: calc(80 / 16 * 1rem);
  }

  .c-cta-button {
    display: flex;
    background-color: #080807;
    color: #d1d1c7;
    padding: 12px 24px;
    border-radius: 40px;
    font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
    @include font-inter();
    font-weight: 500;

    @include respond-to("lg") {
      padding: 16px 36px;

      &:hover .c-cta-button__wrapper {
        transform: translateY(-100%);
      }

      &:hover .c-cta-button__wrapper--hover {
        transform: translateY(-100%);
      }
    }

    .text-wrapper {
      position: relative;
    }

    &__wrapper {
      display: flex;
      gap: 8px;
      transform: translateY(0);
      transition: transform 0.4s;

      &--hover {
        position: absolute;
        top: 100%;
        left: 0;
        transform: translateY(0);
      }
    }
  }
}

//footer

.footer {
  width: 100%;
  height: auto;

  @include respond-to("lg") {
    height: 100vh;
    min-height: 800px;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    padding-top: 32px;
    padding-bottom: 40px;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;

    @include respond-to("lg") {
      margin-bottom: calc(80 / 16 * 1rem);
    }
  }

  &__body {
    position: relative;
    margin-bottom: calc(160 / 16 * 1rem);

    @include respond-to("lg") {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 1rem;
  }

  // &__lead {
  //   max-width: 380px;
  // }

  &__sign {
    width: clamp(80px, calc(73.135px + 1.831vw), 120px);
    margin-left: auto;
    margin-top: calc(64 / 16 * 1rem);

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    @include respond-to("lg") {
      // width: 88px;
      position: absolute;
      top: 0px;
      right: 0;
      margin-top: 0;
    }
  }

  &__foot {
    display: flex;
    flex-direction: column-reverse;

    @include respond-to("lg") {
      margin-top: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__image {
    width: calc(50% - 20px);

    @include respond-to("lg") {
      width: calc(256 / 1440 * 100vw);
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;

    .footer__links-wrapper {
      margin-top: auto;
    }
  }

  &__nav {
    display: flex;
    margin-bottom: calc(48 / 16 * 1rem);

    @include respond-to("lg") {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 20px;
    }

    .footer-list {
      width: 50%;

      @include respond-to("lg") {
        width: auto;
      }
      &__tag {
        display: inline-block;
        color: #636363;
        margin-bottom: 8px;
      }

      &__link {
        display: flex;
        width: fit-content;

        .text-wrapper {
          position: relative;
        }
      }

      &__text {
        &--default {
          display: inline-block;
        }

        &--hover {
          position: absolute;
          // top: 100%;
          left: 0;
          display: inline-block;
        }
      }

      &__icon {
        display: inline-block;
        &--hover {
          position: absolute;
          right: 0;
          display: inline-block;
        }
      }
    }

    .footer-list-menu {
      @include respond-to("lg") {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    .footer-list-social {
      @include respond-to("lg") {
        grid-column-start: 3;
        grid-column-end: 6;
      }
    }
  }

  .footer-meta {
    display: flex;
    margin-bottom: calc(80 / 16 * 1rem);

    @include respond-to("lg") {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 20px;
      margin-bottom: 0;
    }

    &__item {
      width: 50%;

      @include respond-to("lg") {
        width: auto;
      }
    }

    &__copyright {
      @include respond-to("lg") {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    &__credit {
      @include respond-to("lg") {
        grid-column-start: 3;
        grid-column-end: 7;
      }
    }

    &__text {
      font-size: 14px;
    }
  }
}
