@mixin inter($size, $weight) {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: calc($size / 16 * 1rem);
    color: #000000;
}

@mixin notojp($size, $weight) {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
    font-size: calc($size / 16 * 1rem);
}

$breakpoints: (
    medium: 768px,
    lg: 1024px,
);

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (min-width: $breakpoint-value) {
            @content;
        }
    }
}

;

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    
}

h1, h2, h3, h4, h5, h6, section, header, footer, article, nav, div, ul, li, p, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex-container {
    display: flex;
}

.divider {
    width: 100%;
    border-bottom: solid 1px #1d1b2e;
}

.cursor {
    display: none;

    @include respond-to(lg) {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #000000;
        z-index: 9999;
        pointer-events: none;
        transform: translate(0, 0);
        opacity: 0;
        transition: opacity 0.3s ease;
        will-change: transform, opacity;
    }
}

.header {
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    @include respond-to(lg) {
        padding: 20px 40px;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        white-space: nowrap;
        overflow: hidden;
        position: relative;

        @include respond-to(lg) {
            
            &:hover .header__title--move {
                transform: translateY(-100%);
            }

            &:hover .header__title--hover {
                top: 0;
            }
        }
    }

    &__title {
        @include inter(14, 500);
        display: block;
        text-transform: capitalize;
        text-decoration: none;
        letter-spacing: -0.04em;

        @include respond-to(lg) {
            font-size: 1rem;
        }

        &--move {
            transform: translateY(0);
            transition: transform 0.3s;
        }

        &--hover {
            display: none;

            @include respond-to(lg) {
                display: block;
                position: absolute;
                top: 20px;
                left: 0;
                transition: top 0.3s;
            }
        }
    }

    &__nav {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        background-color: #ffffff;
        z-index: -1;
        opacity: 0;

        @include respond-to(lg) {
            opacity: 1;
            z-index: 0;
        }

        &.is-active {
            opacity: 1;
            visibility: visible;
            z-index: 0;
            transition: opacity 0.4s ease-in-out;
        }

        &.is-inactive {
            opacity: 0;
            visibility: hidden;
            transition: opacity 1s ease-in-out;
        }

        @include respond-to(lg) {
            width: auto;
            height: auto;
            position: static;
            visibility: visible;
            background-color: transparent;
        }
    }

    &__list-sp {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        list-style: none;
        padding: calc(160/16 * 1rem) 40px 0;

        @include respond-to(lg) {
            display: none;
        }
    }

    &__list-pc {
        display: none;

        @include respond-to(lg) {
            display: flex;
            gap: 2rem;
            list-style: none;
            justify-content: flex-end;
        }
    }

    .header-list {

        &__item {
            position: relative;
            overflow: hidden;

            @include respond-to(lg) {

                &:hover .header-list__link--move {
                    transform: translateY(-100%);
                }
    
                &:hover .header-list__link--hover {
                    top: 0;
                }
            }
        }

        &__link {
            @include inter(14, 500);
            display: block;
            text-transform: capitalize;
            text-decoration: none;
            letter-spacing: -0.04em;

            @include respond-to(lg) {
                font-size: 1rem;
                cursor: pointer;
            }

            &--move {
                transform: translateY(0);
                transition: transform 0.3s;
            }
    
            &--hover {
                display: none;
    
                @include respond-to(lg) {
                    display: block;
                    position: absolute;
                    top: 20px;
                    left: 0;
                    transition: top 0.3s;
                }
            }

            &--red {
                display: block;
                color: #fc3636;
                font-size: calc(40/16 * 1rem);
                font-weight: 400;
                letter-spacing: -0.04em;
            }
        }
    }

    .menu-btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;

        @include respond-to(lg) {
            display: none;
        }
    }

    .menu-btn-label {
        @include inter(14, 500);
        text-transform: capitalize;
        font-variant: normal;
        letter-spacing: -0.04em;
        display: block;
        -webkit-font-smoothing: antialiased;
        will-change: transform;

        &--open {
            transform: translate3d(0, 0, 0);
            transition: transform 0.5s;

            &.is-active {
                transform: translate3d(0, -100%, 0);
            }
        }

        &--close {
            color: #fc3636;
            position: absolute;
            top: 100%;
            left: 0;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            transition: transform 0.5s;

            &.is-active {
                transform: translate3d(0, -100%, 0);
            }
        }
    }

    .c-scroll-text--inactive {
        color: #000000;
    }

    .c-scroll-text--active {
        color: #ffffff;
    }
    
}

.hero {
    width: 100%;
    margin-bottom: calc(120/16 * 1rem);
    
    @include respond-to(lg) {
        height: 100vh;
        
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 20px;

        @include respond-to(lg) {
            padding: 0 40px;
            display: flex;
            flex-direction: column;
        }
    }

    &__content-main {
        width: 100%;
        margin: 0 auto;
        max-width: 1280px;
        padding: calc(124/16 * 1rem) 0 calc(80/16 * 1rem);
        display: flex;
        flex-direction: column;
        gap: calc(24/16 * 1rem);
        overflow: hidden;

        @include respond-to(medium) {
            width: 85vw;
            flex-direction: row-reverse;
            align-items: center;
        }

        @include respond-to(lg) {
            padding: calc(260/16 * 1rem) 0 0;
        }
    }

    .flex-container {
        flex-direction: column;
        gap: calc(64/16 * 1rem);
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: calc(8/16 * 1rem);
    }

    &__title {
        @include inter(48, 500);
        text-transform: capitalize;
        letter-spacing: -0.04em;
        text-align: center;
        font-size: min(48px, 12vw);

        @include respond-to(lg) {
            font-size: calc(80/16 * 1rem);
            text-align: left;
        }
        
    }

    &__text {
        @include inter(14, 400);
        text-transform: capitalize;
        letter-spacing: -0.04em;

        &--light {
            font-weight: 300;
            font-size: min(1rem, 4vw);
            text-align: center;

            @include respond-to(lg) {
                display: none;
            }
        }

        &--sp {
            display: block;

            @include respond-to(lg) {
                display: none;
            }
        }

        &--pc {
            display: none;

            @include respond-to(lg) {
                display: block;
                font-size: calc(18/16 * 1rem);
            }
        }

        &--pc-small {
            display: none;

            @include respond-to(lg) {
                display: block;
                font-size: calc(14/16 * 1rem);
            }
        }

        &--button {
            font-size: calc(14/16 * 1rem);
            color: #ffffff;
            font-weight: 400;
            transition: color 0.3s ease-in-out;
        }

        &--switch {
            margin: 0 calc(2/16 * 1rem);

            @include respond-to(lg) {
                margin: calc(4/16 * 1rem);
                cursor: pointer;
            }
        }
    }

    .active-lang {
        text-decoration: line-through;
    }

    .inactive-lang {
        text-decoration: none;
    }

    .red-circle {
        margin: 0 auto;
        aspect-ratio: 1/1;
        width: min(76.9vw, 340px);
        border-radius: 50%;
        background-color: #fc3636;
        position: relative;
        z-index: -1;
        animation: showUp 1.5s ease-in-out forwards;

        @include respond-to(medium) {
            margin: 0 0 0 auto;
            width: min(30.77vw, 400px);
        }

        @keyframes showUp {
            0% {
                transform: translateY(200%);
            }
            100% {
                transform: translateY(0);
            }
        }

    }

    &__link {
        @include inter(14, 400);
        text-decoration: none;
        text-transform: capitalize;
        letter-spacing: -0.04em;

        &--muted {

            @include respond-to(lg) {
                opacity: 1;
                transition: opacity 0.3s;

                &:hover {
                    opacity: .5;
                }
            }
        }
    }

    &__footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include respond-to(medium) {
            margin-top: auto;
            padding-bottom: 40px;
        }
    }

    .hero-social-list {
        display: none;
        
        @include respond-to(lg) {
            display: flex;
            flex-direction: column;
            gap: calc(10/16 * 1rem);
        }

        &__item {
            list-style: none;
            line-height: 1.5;
            position: relative;
            overflow: hidden;

            &:nth-child(3) .hero__link {
                gap: calc(16/16 * 1rem);
            }

            @include respond-to(lg) {
                &:hover .arrow-icon--default {
                    transform: translateY(-200%);
                }
    
                &:hover .arrow-icon--hover {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .hero__link {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .arrow-icon {
            width: 10px;
            height: 10px;
            aspect-ratio: 1/1;

            &--default {
                display: block;
                transform: translateY(0);
                transition: transform 0.3s ease;
                will-change: transform;
            }

            &--hover {
                position: absolute;
                right: 0;
                top: 100%;
                transform: translateY(0);
                transition: transform 0.3s ease, top 0.3s ease;
                will-change: transform, top;
            }
        }
    }

    .button {
        display: none;
        width: 200px;
        height: 50px;
        border-radius: 40px;
        border: none;
        background-color: #fc3636;
        @include inter(16, 500);
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        border: none;

        @include respond-to(lg) {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s, border 0.3s ease-in-out;

            &:hover {
                background-color: #ffffff;
                border: solid 1px #fc3636;
            }

            &:hover .hero__text--button {
                color: #fc3636;
            }
        }
    }
}

.p-top-showcase {
    width: 100%;

    &__wrapper {
        width: 100%;
        padding: 0 20px calc(160/16 * 1rem);

        @include respond-to(lg) {
            padding: 0 40px calc(280/16 * 1rem);
        }
    }

    &__list {
        width: 100%;
    }

    .p-top-showcase-list {
        display: flex;
        flex-direction: column;
        gap: calc(80/16 * 1rem);

        @include respond-to(lg) {
            gap: calc(256/16 * 1rem);
        }

        &__item {
            list-style: none;
            max-width: 500px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: calc(24/16 * 1rem);

            @include respond-to(medium) {
                width: calc(1220/1440 * 100vw);
                max-width: none;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__body {

            @include respond-to(medium) {
                width: calc(432/1440 * 100vw);
                max-width: 432px;

                @include respond-to(lg) {
                    
                    &:hover .divider{
                        animation: hover 1s ease-in-out forwards;
    
                        @keyframes hover {
                            0% {
                                transform: scaleX(0);
                                transform-origin: left;
                            }
                
                            50% {
                                transform: scaleX(1);
                                transform-origin: left;
                            }   
                
                            50.01% {
                                transform: scaleX(1);
                                transform-origin: right;
                            }
                
                            100% {
                                transform: scaleX(0);
                                transform-origin: right;
                            }
                        }
                    }
                }
            }
        }

        &__info {
            display: flex;
            justify-content: space-between;
            align-items: end;
    
            @include respond-to(medium) {
                flex-direction: column;
                align-items: start;
            }
        }
    }

    &__title {
        @include inter(21, 400);
        letter-spacing: -0.04em;
        text-transform: uppercase;

        @include respond-to(medium) {
            font-size: calc(32/16 * 1rem);
            font-size: min(48px, calc(48/1440 * 100vw));
            margin-bottom: calc(8/16 * 1rem);
        }
    }

    &__text {

        &--pc {
            display: none;

            @include respond-to(medium) {
                display: block;
                @include inter(18, 300);
                margin-bottom: calc(64/16 * 1rem);
                text-transform: capitalize;
                letter-spacing: -0.04em;
                line-height: 1.7;
            }
        }
    }

    &__link {
        @include inter(14, 400);
        text-decoration: none;
        text-transform: capitalize;
        letter-spacing: -0.04em;

        @include respond-to(medium) {
            opacity: 1;
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &__img {
        display: block;
        overflow: hidden;

        @include respond-to(medium) {
            width: calc(600/1440 * 100vw);
            max-width: 600px;
        }

        @include respond-to(lg) {
            overflow: hidden;
        }
        
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;

            @include respond-to(lg) {
                scale: 1;
                transition: scale 0.3s;

                &:hover {
                    scale: 1.04;
                }
            }
        }
    }

    .divider {
        margin-top: 1rem;
    }
}


.footer {
    width: 100%;
    height: 100vh;
    background-color: #fc3636;

    &__wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 120px 20px 40px;
        display: flex;
        flex-direction: column;

        @include respond-to(medium) {
            padding: 120px 40px 40px;
        }
    }

    &__content {
        height: calc(100% - 80px);
        display: flex;
        flex-direction: column;
        gap: calc(320/16 * 1rem);

        @include respond-to(medium) {
            justify-content: space-between;
            gap: 0;
        }

        .footer-list {
            display: none;

            @include respond-to(lg) {
                display: flex;
                justify-content: flex-end;
                gap: calc(16/16 * 1rem);
                margin-top: calc(24/16 * 1rem);
            }

            &__item {
                list-style: none;
            }

            &--sp {
                margin: calc(24/16 * 1rem) 0 0 auto;
                display: flex;
                flex-direction: column;
                width: fit-content;
                gap: calc(8/16 * 1rem);


                @include respond-to(lg) {
                    display: none;
                }

                .footer-list__item {

                    &:nth-child(3) .footer__link {
                        gap: calc(8/16 * 1rem);
                    }
                }

                .footer__link {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }

    &__menu {

        @include respond-to(medium) {
            padding-bottom: calc(40/16 * 1rem);
        }
    }

    &__menu-btm {
        margin-top: auto;

        .footer-list {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__item {
                list-style: none;
            }
        }
    }

    .footer-title-group {
        display: flex;
        overflow: hidden;

        &__inner {
            display: flex;
            gap: calc(24/16 * 1rem);
            padding: 0 20px;
            animation: text-move 15s linear infinite;

            @keyframes text-move {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
        }
    }

    &__title {
        @include inter(68, 500);
        font-size: min(180px, 18.43vw);
        color: #ffffff;
        letter-spacing: -0.04em;
        text-transform: capitalize;
        white-space: nowrap;
    }

    &__text {
        text-align: right;

        &--small {
            @include inter(12, 400);
            color: #ffffff;
            text-transform: capitalize;
            letter-spacing: -0.04em;

            @include respond-to(lg) {
                font-size: calc(14/16 * 1rem);
            }
        }
    }

    &__link {
        @include inter(16, 400);
        font-size: min(16px, 6.15vw);
        color: #ffffff;
        text-decoration: none;
        text-transform: capitalize;
        letter-spacing: -0.04em;
        opacity: 1;
        transition: opacity .2s ease-in-out;

        @include respond-to(lg) {
            font-size: calc(24/16 * 1rem);
        }

        &--small {
            font-size: calc(14/16 * 1rem);
            font-weight: 500;

            @include respond-to(lg) {
                font-size: 1rem;
            }
        }

        &--mail {
            @include inter(32, 400);
            font-size: min(32px, 8.21vw);
            color: #ffffff;
            line-height: 1.5;
            text-transform: lowercase;

            @include respond-to(lg) {
                font-size: calc(40/16 * 1rem);
            }
        }

        &:hover {
            opacity: .5;
        }
    }

    .divider {
        margin-bottom: calc(24/16 * 1rem);
        border-bottom: solid 1px #ffffff;

        @include respond-to(medium) {
            margin-bottom: calc(40/16 * 1rem);
        }
    }
}
