@charset "UTF-8";

@use "_common.scss" as *;

.p-info-kv {
  height: 100svh;
  @include respond-to("lg") {
    width: 100%;
    height: 100vh;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__top {
    .kv-top-bar {
      display: flex;
      justify-content: space-between;

      &__name {
        display: flex;
        align-items: center;
        gap: 24px;
      }
    }
  }

  &__badge {
    position: absolute;
    right: 0;
    bottom: -48px;

    @include respond-to("lg") {
      bottom: 0px;
    }
  }

  &__main {
    margin-top: auto;
    // @include respond-to("lg") {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: flex-end;
    // }
  }

  &__title {
    font-size: clamp(6.25rem, 3.4611rem + 11.8993vw, 22.5rem);
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }

  .scrolldown {
    &__text {
      background-color: #eaeaea;
      padding: 8px 42px;
      border-radius: 20px;
      color: #080807;
      font-size: 12px;
    }
  }
}

.p-info-profile {
  &__wrapper {
    padding-top: 160px;
    padding-bottom: 96px;

    @include respond-to("lg") {
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }
  &__image {
    display: flex;
    gap: 16px;
    margin-bottom: calc(32 / 16 * 1rem);

    .l-image {
      width: 96px;

      @include respond-to("lg") {
        width: 110px;
      }

      img {
        width: 100%;
      }
    }
  }

  &__description {
    max-width: 400px;

    @include respond-to("lg") {
      max-width: none;
    }
  }

  &__tag {
    font-size: clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem);
  }
}

.p-info-archive {
  &__wrapper {
    position: relative;
  }

  &__title {
    display: none;

    @include respond-to("lg") {
      display: block;
      position: absolute;
      writing-mode: vertical-rl;
      top: 50%;
      left: 0;
      font-size: clamp(6.25rem, 4.25rem + 3.125vw, 9.25rem);
      color: rgba($color: #141414, $alpha: 1);
      line-height: 1;
      @include font-satoshi();
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &__lead {
    margin-bottom: calc(120 / 16 * 1rem);
    @include respond-to("lg") {
      margin-bottom: calc(160 / 16 * 1rem);
    }
  }
  .archive {
    &__item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: calc(196 / 16 * 1rem);

      &:last-child {
        margin-bottom: 0;
      }
      @include respond-to("lg") {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        column-gap: 20px;
        margin-bottom: calc(280 / 16 * 1rem);
      }
    }

    &__heading {
      grid-column: 1 / 3;
      margin-bottom: calc(96 / 16 * 1rem);
      @include respond-to("lg") {
        margin-bottom: 0;
        grid-column-start: 2;
        grid-column-end: 4;
      }

      .circle {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #d1d1c7;
        display: inline-block;

        @include respond-to("lg") {
          width: 7px;
          height: 7px;
        }
      }
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 8px;
      text-transform: uppercase;
    }

    &__tag {
      text-transform: uppercase;
    }

    &__label {
      display: grid;
      grid-template-rows: repeat(2, auto);
      row-gap: 64px;
      @include respond-to("lg") {
        width: auto;
        grid-column-start: 5;
        grid-column-end: 7;
        display: flex;
        flex-direction: column;
        gap: 80px;
      }
    }

    &__content {
      display: grid;
      grid-template-rows: repeat(2, auto);
      row-gap: 64px;
      @include respond-to("lg") {
        width: auto;
        grid-column-start: 8;
        grid-column-end: 11;
        display: flex;
        flex-direction: column;
        gap: 80px;
      }
    }
  }
}

.p-info-cta {
  width: 100%;

  &__wrapper {
    padding-left: clamp(16px, calc(7.549px + 2.254vw), 40px);
    padding-right: clamp(16px, calc(7.549px + 2.254vw), 40px);
  }

  &__container {
    padding: clamp(180px, calc(0px + 12.5vw), 320px) 36px
      clamp(80px, calc(0.286px + 5.536vw), 142px);
    background-color: #eaeaea;
    position: relative;
    z-index: 1;
  }

  &__button {
    position: absolute;
    top: 16px;
    right: 16px;

    @include respond-to("lg") {
      top: 32px;
      right: 32px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__lead {
    text-align: center;
    margin-bottom: calc(40 / 16 * 1rem);

    &:last-child {
      margin-bottom: 0;
    }

    @include respond-to("lg") {
      margin-bottom: calc(48 / 16 * 1rem);
    }
  }

  &__image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(40 / 16 * 1rem);
    background-image: url("/img/p-info-cta-sp.jpg");
    background-repeat: no-repeat;
    background-position: center 20%;
    aspect-ratio: 3 / 2;
    width: calc(240 / 375 * 100vw);
    max-width: 360px;

    @include respond-to("lg") {
      background-image: url("/img/p-info-cta.jpg");
      margin-bottom: calc(48 / 16 * 1rem);
      width: calc(320 / 1440 * 100vw);
      max-width: 400px;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: calc(80 / 16 * 1rem);
  }
}
