@charset "UTF-8";

@use "_common.scss" as *;

.p-info-kv {
  @include respond-to("lg") {
    width: 100%;
    height: 100vh;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
  }

  &__top {
    .kv-top-bar {
      display: flex;
      justify-content: space-between;

      &__name {
        display: flex;
        align-items: center;
        gap: 24px;
      }
    }
  }

  &__foot {
    @include respond-to("lg") {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__title {
    font-size: 280px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }

  &__tag {
    background-color: #eaeaea;
    padding: 8px 42px;
    border-radius: 20px;
    color: #080807;
    font-size: 12px;
  }
}

.p-info-profile {
  &__image {
    display: flex;
    gap: 16px;

    @include respond-to("lg") {
      margin-bottom: calc(32 / 16 * 1rem);
    }
    .l-image {
      width: 110px;

      img {
        width: 100%;
      }
    }
  }

  &__tag {
    font-size: clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem);
  }
}

.p-info-archive {
  &__wrapper {
    position: relative;
  }

  &__title {
    display: none;
    position: absolute;
    writing-mode: vertical-rl;
    left: 0;
    font-size: 128px;
    color: rgba($color: #141414, $alpha: 0.6);
    line-height: 1;
    @include font-satoshi();
    font-weight: 500;
    text-transform: uppercase;

    @include respond-to("lg") {
      display: block;
    }
  }

  &__lead {
    @include respond-to("lg") {
      margin-bottom: calc(160 / 16 * 1rem);
    }
  }
  .archive {
    &__item {
      @include respond-to("lg") {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        column-gap: 20px;
        margin-bottom: calc(280 / 16 * 1rem);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__heading {
      @include respond-to("lg") {
        grid-column-start: 2;
        grid-column-end: 4;
      }

      .circle {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #d1d1c7;
        display: inline-block;

        @include respond-to("lg") {
          width: 7px;
          height: 7px;
        }
      }
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 8px;
      text-transform: uppercase;
    }

    &__tag {
      text-transform: uppercase;
    }

    &__label {
      @include respond-to("lg") {
        grid-column-start: 5;
        grid-column-end: 7;
        display: flex;
        flex-direction: column;
        gap: 80px;
      }
    }

    &__content {
      @include respond-to("lg") {
        grid-column-start: 8;
        grid-column-end: 11;
        display: flex;
        flex-direction: column;
        gap: 80px;
      }
    }
  }
}

.p-info-cta {
  width: 100%;

  &__wrapper {
    padding-left: clamp(16px, calc(7.549px + 2.254vw), 40px);
    padding-right: clamp(16px, calc(7.549px + 2.254vw), 40px);
  }

  &__container {
    padding: 180px 36px 80px;
    background-color: #eaeaea;
    position: relative;
    z-index: 1;
  }

  &__button {
    position: absolute;
    top: 16px;
    right: 16px;

    @include respond-to("lg") {
      top: 32px;
      right: 32px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__lead {
    text-align: center;
    margin-bottom: calc(40 / 16 * 1rem);

    &:last-child {
      margin-bottom: 0;
    }

    @include respond-to("lg") {
      margin-bottom: calc(48 / 16 * 1rem);
    }
  }

  &__image {
    margin-bottom: calc(40 / 16 * 1rem);

    @include respond-to("lg") {
      margin-bottom: calc(48 / 16 * 1rem);
    }
  }

  &__text {
    text-align: center;
    margin-bottom: calc(80 / 16 * 1rem);
  }
}
