@charset "UTF-8";

@use "_common.scss" as *;

// html,
// body {
//   height: 100%;
//   overflow: hidden;
// }

.loading {
  width: 100%;
  height: 100svh;
  background-color: #f2f2f2;
  color: #222222;
  position: fixed;
  top: 0;
  left: 0;

  &__info {
    width: fit-content;
    display: flex;
    align-items: center;
    position: absolute;
    right: 10%;
    bottom: 120px;
  }

  &__text {
    @include font-inter;
    font-size: clamp(5rem, 4.0898rem + 3.8835vw, 8.75rem);
    line-height: 1;
  }

  .digit {
    display: block;
  }
}

.main {
  width: 100%;
  height: 100%;
}

.p-top-kv {
  width: 100%;
  height: 100svh;

  &__wrapper {
    width: 100%;
    height: 100%;
    padding-top: 32px;
    padding-bottom: 0px;
    max-width: none;
  }

  &__head {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    display: flex;
    gap: 40px;
  }

  &__body {
    @include respond-to("lg") {
      height: calc(100% - 24px);
      display: flex;
      flex-direction: column;
      padding-top: clamp(100px, calc(-78.286px + 17.411vw), 256px);
      padding-bottom: clamp(0px, calc(-166.857px + 16.295vw), 146px);
    }
  }

  &__main {
    width: fit-content;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    margin-bottom: calc(48 / 16 * 1rem);
  }

  &__lead {
    text-align: center;
    margin-bottom: calc(24 / 16 * 1rem);
  }

  &__description {
    text-align: center;
  }

  &__foot {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;

    .scrolldown {
      &__text {
        @include font-inter;
        font-size: 12px;
        text-align: center;
        background-color: #eaeaea;
        color: #080807;
        padding: 8px 42px;
      }
    }
  }

  .forest {
    width: calc(210 / 1440 * 100vw);
    // aspect-ratio: 35 / 23;
    position: relative;

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    .mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #080807, $alpha: 0.6);
      animation: fog 10s linear infinite;
    }

    @keyframes fog {
      0% {
        background-color: rgba($color: #080807, $alpha: 0.6);
      }
      // 40% {
      //   background-color: rgba($color: #080807, $alpha: 0.1);
      // }
      50% {
        background-color: rgba($color: #080807, $alpha: 0.1);
      }
      // 60% {
      //   background-color: rgba($color: #080807, $alpha: 0.1);
      // }
      100% {
        background-color: rgba($color: #080807, $alpha: 0.6);
      }
    }
  }
}

.p-top-intro {
  width: 100%;

  &__head {
    margin-bottom: calc(120 / 16 * 1rem);
    // @include respond-to("lg") {
    //   margin-bottom: calc(120 / 16 * 1rem);
    // }
  }

  &__main {
    @include respond-to("lg") {
      display: grid;
      column-gap: 20px;
      row-gap: 120px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, auto);
    }
  }

  &__content {
    max-width: 400px;
    margin-bottom: calc(120 / 16 * 1rem);
    @include respond-to("lg") {
      grid-column: 5 / 9;
      max-width: none;
      margin-bottom: 0;
    }

    .l-image {
      width: 100%;
      margin-bottom: calc(48 / 16 * 1rem);

      // @include respond-to("lg") {
      //   max-width: 600px;
      // }

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }

  &__badge {
    width: fit-content;
    max-width: 200px;
    margin-left: auto;
    grid-column: 3 / 6;
    grid-row: 2;
    @include respond-to("lg") {
      grid-column: 11 / 13;
      grid-row: 2;
      max-width: none;
    }

    .l-image {
      width: 100%;
      margin-bottom: calc(16 / 16 * 1rem);

      // @include respond-to("lg") {
      //   max-width: 300px;
      // }

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .c-text {
      font-size: clamp(0.625rem, 0.4643rem + 0.1786vw, 0.75rem);
    }
  }

  &__title {
    margin-bottom: calc(16 / 16 * 1rem);
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.p-top-project {
  &__head {
    margin-bottom: calc(120 / 16 * 1rem);
    @include respond-to("lg") {
      margin-bottom: calc(96 / 16 * 1rem);
    }
  }

  &__title {
    margin-bottom: calc(16 / 16 * 1rem);
  }

  .project-card {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 0 auto calc(96 / 16 * 1rem);
    @include respond-to("lg") {
      max-width: none;
      grid-template-columns: repeat(10, 1fr);
      column-gap: 32px;
      margin-bottom: calc(120 / 16 * 1rem);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__side {
      @include respond-to("lg") {
        grid-column: 1 / 7;
        grid-row: 1;
        margin-top: 0;
        margin-bottom: calc(16 / 16 * 1rem);
        align-self: end;
      }

      &--odd {
        @include respond-to("lg") {
          grid-column: 5 / 11;
        }
      }
    }

    &__project-name {
      width: 100%;

      @include respond-to("lg") {
        text-align: right;
      }

      &--odd {
        @include respond-to("lg") {
          text-align: left;
        }
      }
    }

    &__content {
      grid-column: 1 / 2;
      aspect-ratio: 1 / 1;
      min-width: 0;

      @include respond-to("lg") {
        grid-column: 7 / 11;
        grid-row: 1;
      }

      &--odd {
        @include respond-to("lg") {
          grid-column: 1 / 5;
        }
      }
    }

    &__number {
      font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
      @include font-satoshi;
      font-weight: 500;
    }

    &__desc {
      font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
      @include font-satoshi;
      font-weight: 500;
      text-transform: uppercase;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      margin-bottom: calc(8 / 16 * 1rem);
      @include respond-to("lg") {
        margin-bottom: calc(16 / 16 * 1rem);
      }

      &--bottom {
        margin-top: calc(8 / 16 * 1rem);
        margin-bottom: 0;
        justify-content: flex-end;

        @include respond-to("lg") {
          margin-top: calc(16 / 16 * 1rem);
          margin-bottom: 0;
        }
      }

      .c-text {
        font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
        @include font-satoshi;
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    &__project {
      display: block;
      height: 100%;
      background-color: #eaeaea;
      position: relative;
      padding: 0 20px;

      &--coming {
        background-color: transparent;
        border: 1px solid #d1d1c7;
        padding: 0;
      }

      .l-film {
        width: calc(100% - 40px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: auto;
        display: block;

        @include respond-to("lg") {
          width: 80px;
        }
      }
    }
  }
}

.p-top-cta {
  width: 100%;

  &__wrapper {
    padding-left: clamp(16px, calc(-1.849px + 4.76vw), 120px);
    padding-right: clamp(16px, calc(-1.849px + 4.76vw), 120px);
  }

  &__container {
    padding: clamp(180px, calc(0px + 12.5vw), 320px) 36px
      clamp(80px, calc(0.286px + 5.536vw), 142px);
    background-color: #eaeaea;
    position: relative;
    z-index: 1;
  }

  &__button {
    position: absolute;
    top: 16px;
    right: 16px;

    @include respond-to("lg") {
      top: 32px;
      right: 32px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 1rem;

    @include respond-to("xl") {
      font-size: clamp(6rem, 0.8571rem + 5.7143vw, 10rem);
    }
  }

  &__lead {
    text-align: center;
    margin-bottom: calc(40 / 16 * 1rem);

    &:last-child {
      margin-bottom: 0;
    }

    @include respond-to("lg") {
      margin-bottom: calc(48 / 16 * 1rem);
    }

    @include respond-to("xl") {
      font-size: clamp(1.5rem, 0.2143rem + 1.4286vw, 2.5rem);
      margin-bottom: clamp(48px, calc(-13.714px + 4.286vw), 96px);
    }
  }

  &__image {
    margin-bottom: calc(40 / 16 * 1rem);
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: calc(240 / 375 * 100vw);

    @include respond-to("lg") {
      margin-bottom: calc(48 / 16 * 1rem);
      width: calc(320 / 1440 * 100vw);
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: calc(80 / 16 * 1rem);
  }
}
