---
import "../styles/top.scss";
import BaseLayout from "../layouts/BaseLayout.astro";
import Loading from "../components/Loading.astro";
import Fv from "../components/Fv.astro";
import Cta from "../components/Cta.astro";
---

<BaseLayout
  bodyClass="home"
  title="Kaisei Sadatoki | Front-end Developer & Designer"
  description="My Portfolio"
>
  <Fragment slot="loader">
    <Loading />
  </Fragment>

  <div class="cursor">
    <span class="cursor__text c-text"></span>
  </div>

  <Fv
    isTop={true}
    title="wh?o"
    badgeText="Proceed"
    ,
    image="/img/p-top-fv.jpg"
    ,
    alt="A forest wrapped in light fog"
    ,
    description={[
      "I'm trying to make something.",
      "Not just for you.",
      "Maybe not even for me.",
    ]}
  />

  <section class="p-top-intro">
    <div class="l-wrapper p-top-intro__wrapper">
      <div class="p-top-intro__head">
        <h2 class="c-heading p-top-intro__title">
          <span class="text-wrapper js-split-text">
            Any<br class="br-sp" />Future Plan?<br />Who Cares
          </span>
        </h2>
        <h3 class="c-lead p-top-intro__lead">Me? I’m..</h3>
      </div>
      <div class="p-top-intro__main">
        <div class="p-top-intro__content">
          <div class="l-image">
            <img
              src="/img/p-top-intro-01.jpg"
              alt="A person walking alone on a dark street at night"
            />
          </div>
          <div class="p-top-intro__desc">
            <p class="c-text">
              <span class="text-wrapper js-split-text-body">
                My name is Kaisei Sadatoki. I mainly work on the front end —
                writing code and creating designs.
              </span>
            </p>
            <p class="c-text">
              <span class="text-wrapper js-split-text-body">
                I’m drawn to interactive and modern designs — the kind with
                striking motion and animation. I also enjoy design beyond the
                web: typography-driven layouts, minimal aesthetics, and clean
                structure.
              </span>
            </p>
          </div>
        </div>
        <div class="p-top-intro__badge">
          <div class="l-image">
            <img
              src="/img/p-top-intro-02.jpg"
              alt="A small bird standing alone on the quiet seashore"
            />
          </div>
          <div>
            <p class="c-text">
              Well.. sure it would be nice though
              <br class="br-pc" />if someone recognized me
              <br class="br-pc" />or what I do.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="works" class="p-top-project">
    <div class="l-wrapper p-top-project__wrapper">
      <div class="p-top-project__head">
        <h2 class="c-heading p-top-project__title">
          <span class="text-wrapper js-split-text">Fetured Works?</span>
        </h2>
        <h3 class="c-lead p-top-project__lead">
          Honestsly i don’t have
          <br class="" />much to show yet but I
          <br class="" />hope to grow this project
          <br class="" />list along the way.
        </h3>
      </div>
      <div class="p-top-project__main">
        <article class="project-card">
          <div class="project-card__content">
            <div class="project-card__info project-card__info--top">
              <span class="c-text">01</span>
              <span class="c-text">third version</span>
            </div>
            <a
              class="project-card__project js-on-project"
              href="/"
              target="_blank"
              aria-label="Portfolio Version 3"
            >
              <video
                class="l-film"
                loop="loop"
                autoplay="autoplay"
                muted="muted"
                playsinline="playsinline"
                aria-hidden="true"
              >
                <source src="img/project-01.mp4" type="video/mp4" /></video
              >
            </a>
            <div class="project-card__info project-card__info--bottom">
              <span class="c-text">click to view</span>
            </div>
          </div>
          <div class="project-card__side">
            <p
              class="project-card__project-name c-heading c-heading--project-name"
            >
              <span class="text-wrapper js-split-text">PORTFOLIO</span>
            </p>
          </div>
        </article>
        <article class="project-card">
          <div class="project-card__content project-card__content--odd">
            <div class="project-card__info">
              <span class="c-text">02</span>
              <span class="c-text">Who's next</span>
            </div>
            <div
              class="project-card__project project-card__project--coming js-project"
            >
              <img src="/img/plus-icon.svg" alt="" />
            </div>
            <div class="project-card__info project-card__info--bottom">
              <span class="c-text">stay tuned</span>
            </div>
          </div>
          <div class="project-card__side project-card__side--odd">
            <p
              class="project-card__project-name project-card__project-name--odd c-heading c-heading--project-name"
            >
              <span class="text-wrapper js-split-text">UPCOMING</span>
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>

  <Cta
    buttonText="If you care"
    buttonLink="info"
    title="Still Here?"
    leadTop="(guess i was a bit harsh.)"
    leadBottom="reach me through <br class='br-sp' />the links below."
    description="Honestly… that feels really nice.<br />If you’d like, we could build something together."
    asImage={true}
    image="/img/p-top-cta.jpg"
    alt="A red apple placed on a hand, being offered forward"
    icon="/img/arrow-right.svg"
  />
</BaseLayout>
