---
import "../styles/top.scss";
import BaseLayout from "../layouts/BaseLayout.astro";
import Loading from "../components/Loading.astro";
---

<BaseLayout
  bodyClass="home"
  title="Kaisei Sadatoki | Portfolio site "
  description="My Portfolio"
>
  <!-- <Fragment slot="loader">
    <Loading />
  </Fragment> -->
  <!-- <section class="p-top-kv">
    <div class="l-wrapper p-top-kv__wrapper">
      <div class="p-top-kv__body"></div>
      <div class="p-top-kv__bottom">
        <p class="p-top-kv__tag">
          <span class="text-wrapper">
            <span class="p-top-kv__tag-line">
              I’m trying to make something.</span
            >
          </span>
          <span class="text-wrapper">
            <span class="p-top-kv__tag-line">Not just for you.</span>
          </span>
          <span class="text-wrapper">
            <span class="p-top-kv__tag-line">Maybe not even for me.</span>
          </span>
        </p>
      </div>
    </div>
  </section> -->

  <section class="p-top-kv">
    <div class="l-wrapper p-top-kv__wrapper">
      <div class="p-top-kv__head">
        <div class="p-top-kv__time">
          <span class="c-text"
            >Tokyo, Japan 8<span class="blink">:</span>21 AM</span
          >
        </div>
        <div class="p-top-kv__name">
          <span class="c-text">K.S</span>
          <span class="c-text">Developer, Designer</span>
        </div>
      </div>
      <div class="p-top-kv__body">
        <div class="p-top-kv__main">
          <h2 class="c-heading p-top-kv__title">
            who the hell
            <br />are you?
          </h2>
          <h3 class="c-lead p-top-kv__lead">(???)</h3>
          <p class="c-text p-top-kv__description">
            I’m trying to make something.
            <br />Not just for you.
            <br />Maybe not even for me.
          </p>
        </div>
        <div class="p-top-kv__foot">
          <div class="scrolldown">
            <span class="scrolldown__text">Proceed</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-top-intro">
    <div class="l-wrapper p-top-intro__wrapper">
      <div class="p-top-intro__head">
        <h2 class="c-heading p-top-intro__title">
          Any
          <br class="br-sp" />future plan?
          <br />Who cares
        </h2>
        <h3 class="c-lead p-top-intro__lead">Me? I’m..</h3>
      </div>
      <div class="p-top-intro__main">
        <div class="p-top-intro__content">
          <div class="l-image">
            <img src="/img/p-top-intro-01.jpg" alt="" />
          </div>
          <div class="p-top-intro__desc">
            <p class="c-text">
              My name is Kaisei Sadatoki. I mainly work on the front end —
              writing code and creating designs.
            </p>
            <p class="c-text">
              I’m drawn to interactive and modern designs — the kind with
              striking motion and animation. I also enjoy design beyond the web:
              typography-driven layouts, minimal aesthetics, and clean
              structure.
            </p>
          </div>
        </div>
        <div class="p-top-intro__badge">
          <div class="l-image">
            <img src="/img/p-top-intro-02.jpg" alt="" />
          </div>
          <div>
            <p class="c-text">
              Well.. sure it would be nice though
              <br />if I got getting featured on Awwwards
              <br />or something.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-top-project">
    <div class="l-wrapper p-top-project__wrapper">
      <div class="p-top-project__head">
        <h2 class="c-heading p-top-project__title">Featured Works?</h2>
        <h3 class="c-lead p-top-project__lead">
          Honestsly i don’t have
          <br class="br-pc" />much to show yet but I
          <br class="br-pc" />hope to grow this project
          <br class="br-pc" />list along the way.
        </h3>
      </div>
      <div class="p-top-project__main">
        <article class="project-card">
          <div class="project-card__content">
            <div class="project-card__info">
              <span class="project-card__number">01</span>
              <span class="project-card__desc">third version</span>
            </div>
            <a class="project-card__project" href="/" target="_blank"></a>
          </div>
          <div class="project-card__side">
            <p class="project-card__project-name c-heading">portfolio</p>
          </div>
        </article>
        <article class="project-card">
          <div class="project-card__content project-card__content--odd">
            <div class="project-card__info">
              <span class="project-card__number">02</span>
              <span class="project-card__desc">stay tuned</span>
            </div>
            <div class="project-card__project project-card__project--coming">
              <img src="/img/plus-icon.svg" alt="" />
            </div>
          </div>
          <div class="project-card__side project-card__side--odd">
            <p
              class="project-card__project-name project-card__project-name--odd c-heading"
            >
              coming project
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section class="p-top-cta">
    <div class="l-wrapper p-top-cta__wrapper">
      <div class="p-top-cta__container">
        <a class="c-cta-button p-top-cta__button" href="info">
          <span class="text-wrapper">
            <span class="c-cta-button__wrapper"
              >If you care
              <img src="/img/arrow-right.svg" alt="" />
            </span>
            <span class="c-cta-button__wrapper c-cta-button__wrapper--hover"
              >If you care
              <img src="/img/arrow-right.svg" alt="" />
            </span>
          </span>
        </a>
        <h2 class="p-top-cta__title c-heading c-heading--black">still here?</h2>
        <h3 class="p-top-cta__lead p-top-cta__lead-top c-lead c-lead--black">
          (guess i was a bit harsh.)
        </h3>
        <div class="l-image p-top-cta__image">
          <img src="/img/p-top-cta.jpg" alt="" />
        </div>
        <p class="p-top-cta__text c-text c-text--black">
          Honestly… that feels really nice.
          <br />If you’d like, we could build something together.
        </p>
        <h3 class="p-top-cta__lead p-top-cta__lead-bottom c-lead c-lead--black">
          reach me through
          <br class="br-sp" />the links below.
        </h3>
      </div>
    </div>
  </section>
</BaseLayout>
