---
import "../styles/top.scss";
import BaseLayout from "../layouts/BaseLayout.astro";
import Loading from "../components/Loading.astro";
---

<BaseLayout
  bodyClass="home"
  title="Kaisei Sadatoki | Portfolio site "
  description="My Portfolio"
>
  <!-- <Fragment slot="loader">
    <Loading />
  </Fragment> -->
  <!-- <section class="p-top-kv">
    <div class="l-wrapper p-top-kv__wrapper">
      <div class="p-top-kv__body"></div>
      <div class="p-top-kv__bottom">
        <p class="p-top-kv__tag">
          <span class="text-wrapper">
            <span class="p-top-kv__tag-line">
              I’m trying to make something.</span
            >
          </span>
          <span class="text-wrapper">
            <span class="p-top-kv__tag-line">Not just for you.</span>
          </span>
          <span class="text-wrapper">
            <span class="p-top-kv__tag-line">Maybe not even for me.</span>
          </span>
        </p>
      </div>
    </div>
  </section> -->

  <section class="p-top-kv">
    <div class="l-wrapper p-top-kv__wrapper">
      <div class="p-top-kv__head">
        <div class="time">
          <span class="c-text"
            >Tokyo, Japan 8<span class="blink">:</span>21 AM</span
          >
        </div>
        <div class="name">
          <span class="c-text">K.S</span>
          <span class="c-text">Developer, Designer</span>
        </div>
      </div>
      <div class="p-top-kv__body">
        <div class="p-top-kv__main">
          <h2 class="c-heading p-top-kv__title">
            who the hell
            <br />are you?
          </h2>
          <h3 class="c-lead p-top-kv__lead">(???)</h3>
          <p class="c-text p-top-kv__description">
            I’m trying to make something.
            <br />Not just for you.
            <br />Maybe not even for me.
          </p>
        </div>
        <div class="p-top-kv__foot">
          <div class="scrolldown">
            <span class="scrolldown__text">Proceed</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-top-cta">
    <div class="l-wrapper p-top-cta__wrapper">
      <div class="p-top-cta__container">
        <a class="c-cta-button p-top-cta__button" href="info">
          <span class="text-wrapper">
            <span class="c-cta-button__wrapper"
              >If you care
              <img src="/img/arrow-right.svg" alt="" />
            </span>
            <span class="c-cta-button__wrapper c-cta-button__wrapper--hover"
              >If you care
              <img src="/img/arrow-right.svg" alt="" />
            </span>
          </span>
        </a>
        <h2 class="p-top-cta__title c-heading c-heading--black">still here?</h2>
        <h3 class="p-top-cta__lead p-top-cta__lead-top c-lead c-lead--black">
          (guess i was a bit harsh.)
        </h3>
        <div class="l-image p-top-cta__image">
          <img src="" alt="" />
        </div>
        <p class="p-top-cta__text c-text c-text--black">
          Honestly… that feels really nice.
          <br />If you’d like, we could build something together.
        </p>
        <h3 class="p-top-cta__lead p-top-cta__lead-bottom c-lead c-lead--black">
          reach me through
          <br class="br-sp" />the links below.
        </h3>
      </div>
    </div>
  </section>
</BaseLayout>
