---
import "../styles/info.scss";
import BaseLayout from "../layouts/BaseLayout.astro";
import Cta from "../components/Cta.astro";
import Fv from "../components/Fv.astro";
---

<BaseLayout
  bodyClass="info"
  title="Info | Kaisei Sadatoki | Front-end Developer & Designer"
  description="Kaisei Sadatoki’s portfolio website version 3. I’m a  activefront-end developer and designer from Hyogo, Japan, creating websites and digital experiences."
>
  <Fv isTop={false} title="in/fo" badgeText="scroll down" />

  <section class="p-info-profile">
    <div class="l-wrapper p-info-profile__wrapper">
      <div class="p-info-profile__image">
        <div class="l-image">
          <img src="/img/profile.jpg" alt="Portrait photo of Kaisei Sadatoki" />
        </div>
        <div class="p-info-profile__info">
          <h2 class="p-info-profile__tag">Kaisei Sadatoki</h2>
          <span class="p-info-profile__tag">2002-</span>
        </div>
      </div>
      <div class="p-info-profile__description">
        <p class="c-text">
          <span class="text-wrapper js-split-text-body">
            I’m 22 years old and from Japan. Currently, I’m based in Hyogo. I
            enjoy it most when an idea starts to take shape — whether it’s
            bringing a design into code or making an animation finally flow as I
            imagined.
          </span>
        </p>
        <p class="c-text">
          <span class="text-wrapper js-split-text-body">
            When I’m not working, I like being by myself — it helps me feel at
            ease. Through my work, I’d love to collaborate with people from
            different places. Working beyond Japan sounds exciting.
          </span>
        </p>
      </div>
    </div>
  </section>
  <section class="p-info-archive">
    <div class="l-wrapper p-info-archive__wrapper">
      <h2 class="p-info-archive__title">archive</h2>
      <h3 class="c-lead p-info-archive__lead">
        Just a few more
        <br />details about me
        <br />and this site.
      </h3>
      <div class="archive">
        <article class="archive__item">
          <div class="archive__heading">
            <h4 class="c-text archive__title">
              <span class="circle"></span>skills
            </h4>
          </div>
          <div class="archive__label">
            <span class="c-text archive__tag">technical</span>
            <span class="c-text archive__tag">language</span>
          </div>
          <div class="archive__content">
            <p class="c-text">HTML, (S)CSS, JavaScript, GSAP, Astro, Figma</p>
            <p class="c-text">Japanese (Native Language), English</p>
          </div>
        </article>
        <article class="archive__item">
          <div class="archive__heading">
            <h4 class="c-text archive__title">
              <span class="circle"></span>site info
            </h4>
          </div>
          <div class="archive__label">
            <span class="c-text archive__tag">development</span>
            <span class="c-text archive__tag">image</span>
          </div>
          <div class="archive__content">
            <p class="c-text">Astro, GSAP, lenis.js</p>
            <p class="c-text">Unsplash, Original</p>
          </div>
        </article>
        <article class="archive__item">
          <div class="archive__heading">
            <h4 class="c-text archive__title">
              <span class="circle"></span>achievement
            </h4>
          </div>
          <div class="archive__label archive__label--achievement">
            <span class="c-text archive__tag">award</span>
          </div>
          <div class="archive__content archive__content--achievement">
            <p class="c-text">Not yet ―</p>
          </div>
        </article>
        <article class="archive__item">
          <div class="archive__heading">
            <h4 class="c-text archive__title">
              <span class="circle"></span>personal
            </h4>
          </div>
          <div class="archive__label archive__label--personal">
            <span class="c-text archive__tag">curiosity</span>
          </div>
          <div class="archive__content archive__content--personal">
            <p class="c-text">Learning English</p>
          </div>
        </article>
      </div>
    </div>
  </section>

  <Cta
    buttonText="Say hello"
    buttonLink="mailto:k25ts09@outlook.jp"
    title="Let's<br class='br-sp' />Collaborate"
    leadTop="(anything i can help with?)"
    leadBottom={`don't be shy —<br class='br-sp' />I'd love to hear from you.`}
    description={`I'm looking forward to new connections,<br />new ideas, and building something together.`}
    background={false}
    icon="/img/arrow-right-top.svg"
  />
</BaseLayout>
