<footer class="footer">
  <div class="l-wrapper footer__wrapper">
    <div class="footer-top">
      <div class="footer-top-bar">
        <div class="c-location-time js-location-time">
          <div class="c-location-time__location">
            <span class="c-text">Tokyo, Japan</span>
          </div>
          <div class="c-location-time__time">
            <span class="c-text js-time-hour"></span>
            <span class="c-text blink">:</span>
            <span class="c-text js-time-minute"></span>
          </div>
          <div>
            <span class="c-text js-time-ampm"></span>
          </div>
        </div>
        <div class="c-email c-email--sp">
          <a href="mailto:k25ts09@outlook.jp">
            <span class="c-text"
              >Email
              <img src="img/arrow-right-top.svg" alt="" aria-hidden="true" />
            </span>
          </a>
        </div>
        <div class="c-email c-email--pc">
          <span class="c-text">Email</span>
          <a class="js-hover-toggle" href="mailto:k25ts09@outlook.jp">
            <span class="text-wrapper">
              <span
                class="c-text c-email__text c-email__text--default js-hover-default"
                >k25ts09@outlook.jp
                <img src="img/arrow-right-top.svg" alt="" aria-hidden="true" />
              </span>
              <span
                class="c-text c-email__text c-email__text--hover js-hover-reveal"
                >k25ts09@outlook.jp
                <img src="img/arrow-right-top.svg" alt="" aria-hidden="true" />
              </span>
            </span>
          </a>
        </div>
      </div>
      <h2 class="c-heading footer__title">get in touch</h2>
      <h3 class="c-lead footer__lead">
        If you have any questions, feel free to
        <br class="br-pc" />reach out via the social links below
        <br class="br-pc" />or by email. You can also check out my
        <br class="br-pc" />details on the Information page.
      </h3>
      <div class="l-image footer-sign">
        <img src="img/footer-sign.png" alt="" />
      </div>
    </div>
    <div class="footer-bottom">
      <div class="l-image footer__image">
        <img src="img/footer-img.jpg" alt="" />
      </div>
      <div class="footer__links">
        <div class="footer__links-wrapper">
          <nav class="footer__nav">
            <ul class="footer-list footer-list-menu">
              <span class="footer-list__tag c-text">Menu</span>
              <li class="footer-list__item c-text">
                <a class="footer-list__link js-hover-toggle" href="/">
                  <span class="text-wrapper">
                    <span
                      class="footer-list__text footer-list__text--default js-hover-default"
                      >TOP</span
                    >
                    <span
                      class="footer-list__text footer-list__text--hover js-hover-reveal"
                      >TOP</span
                    >
                  </span>
                </a>
              </li>
              <li class="footer-list__item c-text">
                <a class="footer-list__link js-hover-toggle" href="/info">
                  <span class="text-wrapper">
                    <span
                      class="footer-list__text footer-list__text--default js-hover-default"
                      >INFO</span
                    >
                    <span
                      class="footer-list__text footer-list__text--hover js-hover-reveal"
                      >INFO</span
                    >
                  </span>
                </a>
              </li>
              <li class="footer-list__item c-text">
                <a class="footer-list__link js-hover-toggle" href="">
                  <span class="text-wrapper">
                    <span
                      class="footer-list__text footer-list__text--default js-hover-default"
                      >WORKS</span
                    >
                    <span
                      class="footer-list__text footer-list__text--hover js-hover-reveal"
                      >WORKS</span
                    >
                  </span>
                </a>
              </li>
            </ul>
            <ul class="footer-list footer-list-social">
              <span class="footer-list__tag c-text">Social</span>
              <li class="footer-list__item c-text">
                <a
                  href="https://github.com/k-datacloud"
                  class="footer-list__link js-hover-toggle"
                  target="_blank"
                >
                  <span class="text-wrapper">
                    <span
                      class="footer-list__text footer-list__text--default js-hover-default"
                      >Github
                      <img
                        src="/img/arrow-right-top.svg"
                        alt=""
                        aria-hidden="true"
                      />
                    </span>
                    <span
                      class="footer-list__text footer-list__text--hover js-hover-reveal"
                      >Github
                      <img
                        src="/img/arrow-right-top.svg"
                        alt=""
                        aria-hidden="true"
                      />
                    </span>
                  </span>
                </a>
              </li>
              <li class="footer-list__item c-text">
                <a
                  href="https://www.linkedin.com/feed/"
                  class="footer-list__link js-hover-toggle"
                  target="_blank"
                >
                  <span class="text-wrapper">
                    <span
                      class="footer-list__text footer-list__text--default js-hover-default"
                      >LinledIn
                      <img
                        src="/img/arrow-right-top.svg"
                        alt=""
                        aria-hidden="true"
                      />
                    </span>
                    <span
                      class="footer-list__text footer-list__text--hover js-hover-reveal"
                      >LinledIn
                      <img
                        src="/img/arrow-right-top.svg"
                        alt=""
                        aria-hidden="true"
                      />
                    </span>
                  </span>
                </a>
              </li>
              <li class="footer-list__item c-text">
                <a
                  href="https://www.instagram.com/kaiseee_i_j/"
                  class="footer-list__link js-hover-toggle"
                  target="_blank"
                >
                  <span class="text-wrapper">
                    <span
                      class="footer-list__text footer-list__text--default js-hover-default"
                      >Instagram
                      <img
                        src="/img/arrow-right-top.svg"
                        alt=""
                        aria-hidden="true"
                      />
                    </span>
                    <span
                      class="footer-list__text footer-list__text--hover js-hover-reveal"
                      >Instagram
                      <img
                        src="/img/arrow-right-top.svg"
                        alt=""
                        aria-hidden="true"
                      />
                    </span>
                  </span>
                </a>
              </li>
            </ul>
          </nav>
          <div class="footer-meta">
            <div class="footer-meta__item footer-meta__copyright">
              <span class="footer-meta__text c-text">©2025</span>
            </div>
            <div class="footer-meta__item footer-meta__credit">
              <span class="footer-meta__text c-text"
                >Design and Code by Kaisei</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
