<footer class="footer">
  <div class="l-wrapper footer__wrapper">
    <div class="footer-top">
      <div class="footer-top-bar">
        <div class="footer-top-bar__time">
          <span class="c-text"
            >Tokyo, Japan 20<span class="blink">:</span>54 PM</span
          >
        </div>
        <div class="footer-top-bar__mail--sp">
          <a href="mailto:k25ts09@outlook.jp">
            <span
              >Email
              <img src="img/arrow-right-top.svg" alt="" />
            </span>
          </a>
        </div>
        <div class="footer-top-bar__mail--pc">
          <span class="c-text">Email</span>
          <a href="mailto:k25ts09@outlook.jp">
            <span
              >k25ts09@outlook.jp
              <img src="img/arrow-right-top.svg" alt="" />
            </span>
          </a>
        </div>
      </div>
      <h2 class="c-heading footer__title">get in touch</h2>
      <h3 class="c-lead footer__lead">
        If you have any questions, feel free to
        <br class="br-pc" />reach out via the social links below
        <br class="br-pc" />or by email. You can also check out my
        <br class="br-pc" />details on the Information page.
      </h3>
      <div class="l-image footer-sign">
        <img src="img/footer-sign.png" alt="" />
      </div>
    </div>
    <div class="footer-bottom">
      <div class="l-image footer__image">
        <img src="img/footer-img.jpg" alt="" />
      </div>
      <div class="footer__links">
        <div class="footer__links-wrapper">
          <nav class="footer__nav">
            <ul class="footer-list footer-list-menu">
              <span class="footer-list__tag c-text">Menu</span>
              <li class="footer-list__item c-text">
                <a class="footer-list__link js-hover" href="/">
                  <span class="text-wrapper">
                    <span class="footer-list__text footer-list__text--default"
                      >TOP</span
                    >
                    <span class="footer-list__text footer-list__text--hover"
                      >TOP</span
                    >
                  </span>
                </a>
              </li>
              <li class="footer-list__item c-text">
                <a class="footer-list__link" href="/info">
                  <span class="text-wrapper">
                    <span class="footer-list__text footer-list__text--default"
                      >INFO</span
                    >
                    <span class="footer-list__text footer-list__text--hover"
                      >INFO</span
                    >
                  </span>
                </a>
              </li>
              <li class="footer-list__item c-text">
                <a class="footer-list__link" href="">
                  <span class="text-wrapper">
                    <span class="footer-list__text footer-list__text--default"
                      >WORKS</span
                    >
                    <span class="footer-list__text footer-list__text--hover"
                      >WORKS</span
                    >
                  </span>
                </a>
              </li>
            </ul>
            <ul class="footer-list footer-list-social">
              <span class="footer-list__tag c-text">Social</span>
              <li class="footer-list__item c-text">
                <a href=""
                  >Github
                  <img src="/img/arrow-right-top.svg" alt="" /></a
                >
              </li>
              <li class="footer-list__item c-text">
                <a href=""
                  >LinkedIn
                  <img src="/img/arrow-right-top.svg" alt="" /></a
                >
              </li>
              <li class="footer-list__item c-text">
                <a href=""
                  >Instagram
                  <img src="/img/arrow-right-top.svg" alt="" /></a
                >
              </li>
            </ul>
          </nav>
          <div class="footer-meta">
            <div class="footer-meta__item footer-meta__copyright">
              <span class="footer-meta__text c-text">©2025</span>
            </div>
            <div class="footer-meta__item footer-meta__credit">
              <span class="footer-meta__text c-text"
                >Design and Code by Kaisei</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
