<footer class="footer">
  <div class="l-wrapper footer__wrapper">
    <div class="footer-top">
      <div class="footer__info">
        <span class="c-text"
          >Tokyo, Japan 20<span class="blink">:</span>54 PM</span
        >
        <div class="footer__mail">
          <span class="c-text">Email</span>
          <span
            ><a class="c-text" href="mailto:k25ts09@outlook.jp"
              >k25ts09@outlook.jp</a
            ></span
          >
        </div>
      </div>
      <h2 class="c-heading footer__title">get in touch</h2>
      <h3 class="c-lead footer__lead">
        If you have any questions, feel free to
        <br class="br-pc" />reach out via the social links below
        <br class="br-pc" />or by email. You can also check out my
        <br class="br-pc" />details on the Information page.
      </h3>
    </div>
    <div class="footer-bottom">
      <div class="l-image footer__image">
        <img src="img/footer-img.jpg" alt="" />
      </div>
      <div class="footer__links">
        <nav>
          <ul class="">
            <span>Menu</span>
            <li><a href="">TOP</a></li>
            <li><a href="">INFO</a></li>
            <li><a href="">WORKS</a></li>
          </ul>
          <ul>
            <span>Social</span>
            <li><a href="">Github</a></li>
            <li><a href="">LinkedIn</a></li>
            <li><a href="">Instagram</a></li>
          </ul>
        </nav>
        <div>
          <span>@2025</span>
          <span>Design and Code by Kaisei</span>
        </div>
      </div>
    </div>
  </div>
</footer>
