---
const { isTop, title, badgeText } = Astro.props;
---

<section class="c-fv">
  <div class="l-wrapper c-fv__wrapper">
    <div class="c-fv__container">
      <div class="c-fv__head">
        <div class="c-datetime js-datetime">
          <span class="text-wrapper">
            <span
              class="c-datetime__wrapper c-datetime__wrapper--fv js-fv-tag-line"
            >
              <span class="c-datetime-location">
                <span class="c-text">Tokyo, Japan</span>
              </span>
              <span class="c-datetime-time">
                <span class="c-text js-time-hour"></span>
                <span class="c-text blink">:</span>
                <span class="c-text js-time-minute"></span>
                <span class="c-text c-datetime-time__ampm js-time-ampm"></span>
              </span>
            </span>
          </span>
        </div>
        <div class="c-nameplate">
          <span class="text-wrapper">
            <span
              class="c-nameplate__wrapper c-nameplate__wrapper--fv js-fv-tag-line"
            >
              <span class="c-text">K.S</span>
              <span class="c-text is-pc">Developer, Designer</span>
            </span>
          </span>
        </div>
      </div>
      <div
        class={isTop ? "c-fv-note c-fv-note--top" : "c-fv-note c-fv-note--info"}
      >
        <div class="c-fv-note__image">
          <div class="l-image js-fv-image">
            <span class="mask"></span>
            <img src="/img/p-top-kv.jpg" alt="A forest wrapped in light fog" />
          </div>
          <p class="c-fv-note__text c-text">
            <span class="text-wrapper">
              <span class="c-fv-note__line js-split-line-fv"
                >I'm trying to make something.</span
              >
            </span>
            <br />
            <span class="text-wrapper">
              <span class="c-fv-note__line js-split-line-fv"
                >Not just for you.</span
              >
            </span>
            <br />
            <span class="text-wrapper">
              <span class="c-fv-note__line js-split-line-fv"
                >Maybe not even for me.</span
              >
            </span>
          </p>
        </div>
      </div>
      <div class="c-fv__foot">
        <h2
          class={isTop
            ? "c-fv__title c-fv__title--top"
            : "c-fv__title c-fv__title--info"}
        >
          <span class="text-wrapper">{title}</span>
        </h2>
        <div class="c-badge">
          <span class="text-wrapper">
            <span
              class={isTop
                ? "c-badge__text js-fv-tag-line"
                : "c-badge__text c-badge__text--info js-fv-tag-line"}
              >{badgeText}</span
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
