<header class="header">
  <div class="header__wrapper">
    <h1 class="header__logo">
      <a
        class="header__title header__title--move c-scroll-text--inactive"
        href="index.html">kaisei sadatoki</a
      >
      <a
        class="header__title header__title--hover c-scroll-text--inactive"
        href="index.html">kaisei sadatoki</a
      >
    </h1>
    <nav class="header__nav">
      <ul class="header__list-sp header-list">
        <li class="header-list__item">
          <a class="header-list__link header-list__link--red" href="index.html"
            >home</a
          >
        </li>
        <li class="header-list__item">
          <a class="header-list__link header-list__link--red" href="about.html"
            >about</a
          >
        </li>
        <li class="header-list__item">
          <a class="header-list__link header-list__link--red c-btn-email"
            >copy email</a
          >
        </li>
        <li class="header-list__item">
          <a
            class="header-list__link header-list__link--red"
            href="https://github.com/k-datacloud"
            target="_blank">Github</a
          >
        </li>
        <li class="header-list__item">
          <a
            class="header-list__link header-list__link--red"
            href="https://www.linkedin.com/in/s-kaisei/"
            target="_blank">LinkedIn</a
          >
        </li>
        <li class="header-list__item">
          <a
            class="header-list__link header-list__link--red"
            href="https://www.instagram.com/kaiseee_i_j/"
            target="_blank">Instagram</a
          >
        </li>
      </ul>
      <ul class="header__list-pc header-list">
        <li class="header-list__item">
          <a
            class="header-list__link header-list__link--move c-scroll-text--inactive"
            href="about.html">about</a
          >
          <a
            class="header-list__link header-list__link--hover c-scroll-text--inactive"
            href="about.html">about</a
          >
        </li>
        <li class="header-list__item">
          <a
            class="header-list__link header-list__link--move c-scroll-text--inactive"
            >copy email</a
          >
          <a
            class="header-list__link header-list__link--hover c-scroll-text--inactive c-btn-email"
            >copy email</a
          >
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-btn">
      <span class="menu-btn-label menu-btn-label--open">menu</span>
      <span class="menu-btn-label menu-btn-label--close">Close</span>
    </button>
  </div>
</header>
