<section class="p-top-kv">
  <div class="l-wrapper p-top-kv__wrapper">
    <div class="p-top-kv__body"></div>
    <div class="p-top-kv__bottom">
      <p class="p-top-kv__tag">
        <span class="text-wrapper">
          <span class="p-top-kv__tag-line"> I’m trying to make something.</span>
        </span>
        <span class="text-wrapper">
          <span class="p-top-kv__tag-line"
            >Not just for you. Maybe not even for me.</span
          >
        </span>
      </p>
    </div>
  </div>
</section>
