<div class="loading js-loading">
  <div class="l-wrapper">
    <div class="loading__info">
      <span class="text-wrapper">
        <span class="loading__text digit-hundred">1</span>
      </span>
      <span class="text-wrapper js-digit">
        <span class="digit loading__text">0</span>
      </span>
      <span class="text-wrapper js-digit">
        <span class="digit loading__text">0</span>
      </span>
      <span class="loading__text">%</span>
    </div>
  </div>
</div>
