<div class="loading js-loading">
  <div class="l-wrapper loading__wrapper">
    <div class="loading__container">
      <div class="loading-content">
        <p class="loading__text">
          <span class="text-wrapper">
            <span>shff..</span>
            <span>shff.. shff..</span>
            <span>oh..</span>
          </span>
        </p>
      </div>
      <div class="loading-number">
        <span class="text-wrapper">
          <span class="loading__text digit-hundred">1</span>
        </span>
        <span class="text-wrapper js-digit">
          <span class="digit loading__text">0</span>
        </span>
        <span class="text-wrapper js-digit">
          <span class="digit loading__text">0</span>
        </span>
        <span class="loading__text">%</span>
      </div>
    </div>
  </div>
</div>
