<div class="loading js-loading">
  <div class="l-wrapper loading__wrapper">
    <div class="loading__container">
      <div class="loading-text">
        <p class="c-text">
          <span class="text-wrapper">
            <span class="c-text loading-text__line loading-text__line--intro"
              >shff..</span
            >
            <span class="c-text loading-text__line loading-text__line--middle"
              >shff.. shff..</span
            >
            <span class="c-text loading-text__line loading-text__line--end"
              >oh..</span
            >
          </span>
        </p>
      </div>
      <div class="loading-number">
        <span class="text-wrapper">
          <span class="c-text digit--hundred">1</span>
        </span>
        <span class="text-wrapper js-digit">
          <span class="digit c-text">0</span>
        </span>
        <span class="text-wrapper js-digit">
          <span class="digit c-text">0</span>
        </span>
        <span class="c-text">%</span>
      </div>
    </div>
  </div>
</div>
