<div class="c-menu-toggle js-menu-toggle">
  <button type="button" class="c-menu-toggle__button">
    <span class="circle"></span>
    <span class="text-wrapper">
      <span class="c-text c-menu-toggle__text c-menu-toggle__text--default"
        >menu</span
      >
      <span class="c-text c-menu-toggle__text c-menu-toggle__text--hover"
        >menu</span
      >
    </span>
  </button>
</div>
<!-- <div class="nav-menu js-nav-menu">
  <div class="l-wrapper">
    <div>
      <ul>
        <li>
          <a href="/">
            <span class="text-wrapper">
              <span>TOP</span>
              <span>TOP</span>
            </span></a>
        </li>
      </ul>
    </div>
    <div>
      <ul></ul>
      <div></div>
    </div>
    <div>
      <button></button>
    </div>
  </div>
</div> -->
