<div class="c-menu-toggle js-menu-open">
  <button type="button" class="c-menu-toggle__button js-hover-toggle">
    <span class="circle"></span>
    <span class="text-wrapper">
      <span
        class="c-text c-menu-toggle__text c-menu-toggle__text--default js-hover-default"
        >menu</span
      >
      <span
        class="c-text c-menu-toggle__text c-menu-toggle__text--hover js-hover-reveal"
        >menu</span
      >
    </span>
  </button>
</div>
<div class="nav-menu js-nav-menu">
  <div class="l-wrapper">
    <div class="nav-menu__head">
      <div class="c-datetime js-datetime">
        <span class="text-wrapper">
          <span
            class="c-datetime__wrapper c-datetime__wrapper--nav js-nav-tag-line"
          >
            <span class="c-datetime-location">
              <span class="c-text">Tokyo, Japan</span>
            </span>
            <span class="c-datetime-time">
              <span class="c-text js-time-hour"></span>
              <span class="c-text blink">:</span>
              <span class="c-text js-time-minute"></span>
              <span class="c-text c-datetime-time__ampm js-time-ampm"></span>
            </span>
          </span>
        </span>
      </div>
      <div class="c-nameplate">
        <span class="text-wrapper">
          <span
            class="c-nameplate__wrapper c-nameplate__wrapper--nav js-nav-tag-line"
          >
            <span class="c-text">K.S</span>
            <span class="c-text is-pc">Developer, Designer</span>
          </span>
        </span>
      </div>
    </div>
    <div class="nav-menu__body">
      <div class="nav-menu__menu">
        <ul class="nav-list nav-list--primary">
          <li class="nav-list__item c-heading js-nav-menu-item">
            <a class="nav-list__link" href="/">
              <span class="text-wrapper">
                <span class="nav-list__text nav-list__text--default">TOP</span>
                <span class="nav-list__text nav-list__text--hover">TOP</span>
              </span></a
            >
          </li>
          <li class="nav-list__item c-heading js-nav-menu-item">
            <a class="nav-list__link" href="info">
              <span class="text-wrapper">
                <span class="nav-list__text nav-list__text--default">INFO</span>
                <span class="nav-list__text nav-list__text--hover">INFO</span>
              </span></a
            >
          </li>
          <li class="nav-list__item c-heading js-nav-menu-item">
            <a class="nav-list__link js-scroll-link" href="#works">
              <span class="text-wrapper">
                <span class="nav-list__text nav-list__text--default">WORKS</span
                >
                <span class="nav-list__text nav-list__text--hover">WORKS</span>
              </span></a
            >
          </li>
        </ul>
      </div>
      <div class="nav-menu__social">
        <ul class="nav-list nav-list--social">
          <p class="c-text nav-list__tag js-nav-menu-item">Social</p>
          <li class="c-text nav-list__item js-nav-menu-item">
            <a
              class="nav-list__link nav-list__link js-hover-toggle"
              href="https://github.com/k-datacloud"
              target="_blank"
            >
              <span class="text-wrapper">
                <span class="nav-list__social-text js-hover-default"
                  >Github
                  <img src="/img/arrow-black.svg" alt="" aria-hidden="true" />
                </span>
                <span
                  class="nav-list__social-text nav-list__social-text--hover js-hover-reveal"
                  >Github
                  <img src="/img/arrow-black.svg" alt="" aria-hidden="true" />
                </span>
              </span>
            </a>
          </li>
          <li class="c-text nav-list__item js-nav-menu-item">
            <a
              class="nav-list__link js-hover-toggle"
              href="https://www.linkedin.com/in/s-kaisei/"
              target="_blank"
            >
              <span class="text-wrapper">
                <span class="nav-list__social-text js-hover-default"
                  >LinkedIn
                  <img src="/img/arrow-black.svg" alt="" aria-hidden="true" />
                </span>
                <span
                  class="nav-list__social-text nav-list__social-text--hover js-hover-reveal"
                  >LinkedIn
                  <img src="/img/arrow-black.svg" alt="" aria-hidden="true" />
                </span>
              </span>
            </a>
          </li>
          <li class="c-text nav-list__item js-nav-menu-item">
            <a
              class="nav-list__link js-hover-toggle"
              href="https://www.instagram.com/kaiseee_i_j/"
              target="_blank"
            >
              <span class="text-wrapper">
                <span class="nav-list__social-text js-hover-default"
                  >Instagram
                  <img src="/img/arrow-black.svg" alt="" aria-hidden="true" />
                </span>
                <span
                  class="nav-list__social-text nav-list__social-text--hover js-hover-reveal"
                  >Instagram
                  <img src="/img/arrow-black.svg" alt="" aria-hidden="true" />
                </span>
              </span>
            </a>
          </li>
        </ul>
        <ul class="nav-list">
          <p class="c-text nav-list__tag js-nav-menu-item">Email</p>
          <li class="c-text nav-list__item js-nav-menu-item">
            <a
              class="nav-list__link js-hover-toggle"
              href="mailto:k25ts09@outlook.jp"
            >
              <span class="text-wrapper">
                <span class="nav-list__social-text js-hover-default"
                  >k25ts09@outlook.jp
                  <img src="/img/arrow-black.svg" alt="" aria-hidden="true" />
                </span>
                <span
                  class="nav-list__social-text nav-list__social-text--hover js-hover-reveal"
                  >k25ts09@outlook.jp
                  <img src="/img/arrow-black.svg" alt="" aria-hidden="true" />
                </span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-menu__foot nav-button">
      <button type="button" class="nav-button__button js-menu-close"
        >CLOSE</button
      >
    </div>
  </div>
</div>
