<div class="nav-menu js-nav-menu">
    <div class="l-wrapper">
        <div>
            <ul>
            <li><a href="/">
            <span class="text-wrapper">
                <span>TOP</span>
                <span>TOP</span>
            </span></a></li>
        </ul>
        </div>
        <div>
            <ul></ul>
            <div></div>
        </div>
        <div>
            <button></button>
        </div>
    </div>
</div>