<div class="c-menu-toggle js-menu-open">
  <button type="button" class="c-menu-toggle__button">
    <span class="circle"></span>
    <span class="text-wrapper">
      <span class="c-text c-menu-toggle__text c-menu-toggle__text--default"
        >menu</span
      >
      <span class="c-text c-menu-toggle__text c-menu-toggle__text--hover"
        >menu</span
      >
    </span>
  </button>
</div>
<div class="nav-menu js-nav-menu">
  <div class="l-wrapper">
    <div class="nav-menu__head">
      <div class="c-location-time js-location-time">
        <div class="c-location-time__location">
          <span class="c-text">Tokyo, Japan</span>
        </div>
        <div class="c-location-time__time">
          <span class="c-text js-time-hour"></span>
          <span class="c-text blink">:</span>
          <span class="c-text js-time-minute"></span>
        </div>
        <div>
          <span class="c-text js-time-ampm"></span>
        </div>
      </div>
      <div class="c-nameplate">
        <span class="c-text">K.S</span>
        <span class="c-text is-pc">Developer, Designer</span>
      </div>
    </div>
    <div class="nav-menu__body">
      <div class="nav-menu__menu">
        <ul class="nav-list nav-list--primary">
          <li class="nav-list__item c-heading">
            <a href="/">
              <span class="text-wrapper">
                <span class="">TOP</span>
              </span></a
            >
          </li>
          <li class="nav-list__item c-heading">
            <a href="/">
              <span class="text-wrapper">
                <span class="">INFO</span>
              </span></a
            >
          </li>
          <li class="nav-list__item c-heading">
            <a href="/">
              <span class="text-wrapper">
                <span class="">WORKS</span>
              </span></a
            >
          </li>
        </ul>
      </div>
      <div class="nav-menu__social">
        <ul class="nav-list nav-list--social">
          <p class="c-text nav-list__tag">Social</p>
          <li class="nav-list__item">
            <a class="nav-list__link nav-list__link--" href="">
              <span class="text-wrapper">
                <span
                  >Github
                  <img src="/img/arrow-black.svg" alt="" aria-hidden="true" />
                </span>
              </span>
            </a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link nav-list__link--" href="">
              <span class="text-wrapper">
                <span
                  >LinkedIn
                  <img src="/img/arrow-black.svg" alt="" aria-hidden="true" />
                </span>
              </span>
            </a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link nav-list__link--" href="">
              <span class="text-wrapper">
                <span
                  >Instagram
                  <img src="/img/arrow-black.svg" alt="" aria-hidden="true" />
                </span>
              </span>
            </a>
          </li>
        </ul>
        <ul class="nav-list">
          <p class="c-text nav-list__tag">Email</p>
          <li class="nav-list__item">
            <a href="mailto:k25ts09@outlook.jp">
              <span class="text-wrapper">
                <span
                  >k25ts09@outlook.jp
                  <img src="/img/arrow-black.svg" alt="" />
                </span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-menu__foot nav-button">
      <button type="button" class="nav-button__button js-menu-close"
        >CLOSE</button
      >
    </div>
  </div>
</div>
