---
const pageTitle = "My Portfolio | ";
const description = "My Portfolio";
import "../styles/reset.css";
import "../styles/style.scss";
---

<html>
  <head lang="en">
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#ffffff" />

    <link rel="icon" type="image/svg+xml" href="" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content={pageTitle} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <svg class="filter" xmlns="http://www.w3.org/2000/svg">
      <filter id="grainy">
        <feTurbulence type="turbulence" baseFrequency="0.6" numOctaves="1"
        ></feTurbulence>
        <feColorMatrix type="saturate" values="0"></feColorMatrix>
      </filter>
    </svg>
    <div class="loader js-loader">
      <div class="l-wrapper">
        <div class="loader__info">
          <span class="text-wrapper">
            <span class="digit loader__text">0</span>
          </span>
          <span class="text-wrapper">
            <span class="digit loader__text">0</span>
          </span>
          <span class="loader__text">%</span>
        </div>
      </div>
    </div>
    <main class="main">
      <slot />
    </main>
  </body>
</html>

<script>
  import mainScript from "../scripts/main.js";
  mainScript();
</script>
